<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" charset="UTF-8">
  <title>Annual Report for <%= name %></title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby+One+SC" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="slideshow-container">

    <div class="mySlides fade">
      <p class="topeasein" style="text-align: center;">Hi <%= name %>!</p>
      <p class="topeasein" style="text-align: center;">Ready to check yout annual report?</p>
    </div>
    
    <div class="mySlides fade">
      <div class="rides">
        <p class="righteasein ridesText3">With Uber you have been to <mark><%= cities.length %></mark> cities</p>
        <p class="righteasein ridesText2"><mark><%= cities %></mark></p>
        <img class="scale ridesImg" src="img/ridescar.png" />
      </div>
    </div>
    
    <div class="mySlides fade">
      <div class="rides2">
        <p class="lefteasein rides2Text">Thank you for saving <mark class="rides2mark">9</mark> kg carbon emission by taking <mark class="rides2mark"><%= poolTripsCount %></mark> trips with Uber Pool &hearts;</p>
        <img class="rides2bg" src="img/rides2bg.png" />
        <img class="plantFade tree" src="img/tree.png" />
        <img class="plants bottomeasein" src="img/plants.png" />
        <img class="plantFade plants2" src="img/plant2.png" />
      </div>
    </div>

    <div class="mySlides fade">
      <div class="rides3">
        <p class="lefteasein rides3Text">You took <mark class="rides3mark"><%= ridesTripCount %></mark> rides with Uber in 2020</p>
        <img class="rides2bg" src="img/rides3bg.png" />
        <img class="righteasein tree" src="img/rode1.png" />
        <img class="plants road2righteasein" src="img/rode2.png" />
        <img class="road3righteasein plants2" src="img/rode3.png" />
      </div>
    </div>

    <div class="mySlides fade">
      <div class="eats1">
        <p class="lefteasein eats1Text">You made <mark><%= eatsTripCount %></mark> eats orders on Uber Eats in 2020</p>
        <p class="righteasein eats1Text2">Your favourite cusine is <mark><%= favCusine %></mark></p>
        <img class="rides2bg" src="img/eats1-2.png" />
        <img class="eats1lefteasein tree" src="img/eats1-3.png" />
        <img class="lefteasein tree" src="img/eats1-4.png" />
        <img class="lefteasein tree" src="img/eats1-5.png" />
        <img class="eats1righteasein tree" src="img/eats1-6.png" />
      </div>
    </div>

    <div class="mySlides fade">
      <div class="eats2">
        <p class="eats2bottomeasein eats2Text">You gave thumb ups to eats couries <mark><%= thumbUpCount %></mark> times!</p>
        <img class="plantFade tree" src="img/tu1.png" />
        <img class="eats1lefteasein tree" src="img/tu2.png" />
        <img class="eats2lefteasein tree" src="img/tu4.png" />
        <img class="eats2righteasein tree" src="img/tu3.png" />
      </div>
    </div>

    <div class="mySlides fade">
      <div class="eats3">
        <p class="righteasein eats3Text">You ordered groceries <mark class="eats3mark">3</mark> times on Uber Eats in 2020</p>
        <img class="rides2bg" src="img/eats3bg.png" />
        <img class="lefteasein tree" src="img/person.png" />
      </div>
    </div>
    
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <script src="/static/ejs.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>