<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Annual Report for <%= name %></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="slideshow-container">

    <div class="mySlides fade">
      <h1>Annual Report for <%= name %></h1>
    </div>
    
    <div class="mySlides fade">
      <div class="rides">
        <p class="lefteasein ridesText">You took <%= ridesTripCount %> rides with Uber in 2020, <mark><%= poolTripsCount %></mark> are Uber Pools</p>
        <p class="righteasein ridesText2">With Uber you have been to <%= cities.length %> cities: <%= cities %></p>
        <img class="scale ridesImg" src="img/test.png" />
      </div>
    </div>
    
    <div class="mySlides fade">
      <div class="eats">
        <p class="lefteasein">You made <%= eatsTripCount %> eats orders on UberEats in 2020. Your favourite cusine is <%= favCusine %></p>
        <p class="righteasein">And you gave thumb ups to couries in <%= thumbUpCount %> eats orders!</p>
    </div>
    </div>
    
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <script src="/static/ejs.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>